  .area{
    width: 1200px;
    height: 600px;
    background-color: rgb(221, 221, 221);
  }

  .tennisBall{
    background-image: url("./tennisball.png");
    background-position: center;
    background-size: 102%;
    background-repeat: no-repeat;
    display: block;
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    animation: rotation 1.5s linear infinite;
  }

  .eightBall{
    background-image: url("./8 ball.jpg");
    background-position: center;
    background-size: 102%;
    background-repeat: no-repeat;
    display: block;
    position:relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;

    animation: rotation 1s linear infinite;        
  }

  .bowlingBall{
    background-image: url("./storm-parallax.jpg");
    background-position: center;
    background-size: 102%;
    background-repeat: no-repeat;
    display: block;
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    animation: rotation 3s  linear infinite;
  }

  .softBall{
    background-image: url("./os021.jpg");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    display: block;
    position: relative;
    animation: roll linear 4s infinite;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 5px 5px 5px grey;
  }

  .bounce{
    width: 100px;
    border-radius: 50%;
    animation: key2 5s infinite linear;
    position: relative;    
  }
  .roller{
    width: 100px;
    border-radius: 50%;
    animation: roll 5s infinite alternate linear;
    box-shadow: 5px 5px 15px rgb(211, 210, 210);
    position: relative;    
  }

  .bounce2{
    transform: translateY(-150px);
    width: 150px;
    border-radius: 50%;
    animation: key2 7s infinite linear;
    position: relative;    
  }
  .roller2{
    transform: translateY(-150px);
    width: 150px;
    border-radius: 50%;
    animation: roll 7s infinite alternate linear;
    box-shadow: 5px 5px 15px  rgb(187, 187, 187);
    position: relative;    
  }

  .bounce3{
    transform: translateY(-150px);
    width: 80px;
    border-radius: 50%;
    animation: key2 3s infinite  linear;
    position: relative;    
  }
  .roller3{
    transform: translateY(-150px);
    width: 80px;
    border-radius: 50%;
    animation: roll 3s infinite alternate linear;
    box-shadow: 5px 5px 15px rgb(188, 188, 188);
    position: relative;    
  }


.shiftUp150{
  transform: translateY(-150px);
}

.shiftUp230{
  transform: translateY(-230px);
}

  @keyframes rotation{
    from{
      rotate:0;
    }
    to{
      rotate: 360deg;
    }
  }

  @keyframes roll{
    from{
      transform:translateX(0);
    }
    to{
      transform:translateX(1000px);
    }
  }
  

  @keyframes key2{
    0%{   transform:translateY(0);
      animation-timing-function: cubic-bezier(.57,0,.9,.7)    }

    32%{      transform: translateY(500px);
      animation-timing-function: cubic-bezier(0,.53,.83,1)   
              }
    48%{      transform: translateY(250px);
      animation-timing-function: cubic-bezier(.57,0,.9,.7)  }
    64%{      transform: translateY(500px);
      animation-timing-function: cubic-bezier(0,.53,.83,1)   }
    72%{      transform: translateY(375px); 
      animation-timing-function: cubic-bezier(.57,0,.9,.7)   }
    80%{      transform: translateY(500px); 
      animation-timing-function: cubic-bezier(0,.53,.83,1)  }
    84%{      transform: translateY(412px);   
      animation-timing-function: cubic-bezier(.57,0,.9,.7)  }
    88%{      transform: translateY(500px); 
      animation-timing-function:cubic-bezier(0,.53,.83,1)  }
    90%{      transform: translateY(460px);   
        animation-timing-function: cubic-bezier(.57,0,.9,.7)  }
    92%{      transform: translateY(500px); 
        animation-timing-function: linear;  }
    98%{     transform: translateY(500px);
      animation-timing-function: cubic-bezier(.06,.82,.51,1);
     }      
    100%{     transform: translateY(0);

     }

  }
